<SplitViewHorizontal>
  <SplitViewVertical>
    <div>
      {{log customize.theme}}
      {{ivy-codemirror 
        value=code 
        options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme)
        valueUpdated=(action (mut code))
      }}
    </div>
    <div>
{{ivy-codemirror 
        value=nodeApi 
        options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme 
        autoIndent=true )}}
    </div>
  </SplitViewVertical>
  <SplitViewVertical>
    <div>

      {{ivy-codemirror 
        value=ast 
        options=(hash 
        mode=jsonMode 
        theme=theme 
        foldGutter=true 
        lineNumbers=true
        lineWrapping=true
        gutters=gutters
        readOnly=true)}}
          </div>
    <div>
      {{ivy-codemirror value="" 
        options=(hash 
        lineNumbers=true 
        mode="javascript" 
        theme=theme )}}
    </div>
  </SplitViewVertical>
</SplitViewHorizontal>
